h3{
	color:#fff;
}

/*.image-profil{
				border-radius: 50%;
				border: 2px solid #000;
				width: 100px;
				height: 100px;
			}*/
.photoModif{
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	border:1px solid;
}

.image-profil{
	width: auto;
	height: 100%;
}

.corps{
	overflow:hidden;
}

.lateral-gauche{
	background-color: #6f6f6f;
	height: 100%;
	width: 33%;
	position: fixed;
	text-align: center;
}

.lateral-droit{
	overflow: auto;
	width: 77%;
	margin-left: 33%;
}

#fichier{
	position:absolute; top:-999px; left:-9999px;
}

#id_pwd1, #id_pwd2{
	display: none;
}

@media screen and (max-width: 640px){
	.image-profil{
		width: 40%
	}

	.lateral-gauche{
		background-color: #6f6f6f;
		height: auto;
		width: 100%;
		position: static;
		padding: 15px 10px;
		text-align: left;
	}

	.lateral-droit{
		width: 100%;
		margin: 0;
		padding: 15px 10px;
	}

	.titreModif{
		margin-left: -100px;
	}
	h3{font-size: 1.3em;}

	.photoModif{
		display: inline-block;
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		border:1px solid;
	}

	.image-profil{
		width: auto;
		height: 100%;
	}


}

@media screen and (max-width: 767px) and (min-width: 640px){
	.image-profil{
		width: 30%
		border: 1px solid #000;
	}

	.lateral-gauche{
		background-color: #6f6f6f;
		height: auto;
		width: 100%;
		position: static;
		padding: 15px 10px;
		text-align: left;
	}

	.lateral-droit{
		width: 100%;
		margin: 0;
		padding: 15px 10px;
	}

	.titreModif{
		margin-left: -100px;
		padding-top: 7px;
	}

	h3{font-size: 1.5em;}

	.photoModif{
		display: inline-block;
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		border:1px solid;
	}

	.image-profil{
		width: auto;
		height: 100%;
	}
}